@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sample App - Deploy from GitHub</h1>
    <p>Sample App for deployment to Azure App Service</p>
    <p>Modified 2023-01-18 12:06</p>
</div>
