@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sample App - Deploy from GitHub for real</h1>
    <p>Sample App for deployment to Azure App Service</p>
</div>
